:root {
  --primary-color: #87cefa;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
* {
  box-sizing: border-box;
}
.mainApp {
  color: var(--primary-color);
}
a,
a:visited {
  text-decoration: none;
  color: var(--primary-color);
}
